<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Review Reporting!!!</h1>
    <p>
      Reported review for <br>
      Review id : <%= @review_id %> <br>
      Professor id: <%= @prof_id %> <br>
      Review URL : <%= @url %> <br>
      Report Reason : <%= @report_type %> <br>
      Description if 'other' : <%= @other_input %>
      
    </p>
    
    <p>Please review this issue soon!!!!!</p>
  </body>
</html>
