<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Review Reporting!!!</h1>
    <p>
      Reported review for <br>
      Review id : <%= @reviewid %> <br>
      Professor id: <%= @review.professor_id %> <br>
      Course id : <%= @review.course_id %> <br>
      Semester : <%= @review.semester %> <br>
      Year : <%= @review.year %>
      
    </p>
    
    <p>Please review this issue soon!!!!!</p>
  </body>
</html>