<%= render "partials/nav" %>

<div class="flex-container">
<div class="column-container">
  
  <div class = "row-container">
    
  <!--professer general-->
  <div class="professor-general-container">
    <h1><%= @professor.full_name %> </h1>
    <p><%= @professor.tamu_dir_dept %></p>
    <div class = "review-level-container">
        <h3><%= @avg_review %></h3>
        <div class = "rating-star">
          <!-- need implementation -->
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
        </div>
        <% if @grouped_courses.empty? %>
          <h4>(0 reviews)</h4>
        <% else %>
          <h4>(<%= @num_reviews %> #reviews)</h4>
        <% end %>
    </div>
  </div>
  
  <div class = "write-review-container">
    <button class="btn btn-primary w-100">Write a Review</button>
  </div>
  
  </div>
  <% if @grouped_courses.empty? %>
    <hr>
    <p>This professor has not taught any other courses.
  <% else %>

  <!--tags-->
  <div class = "tag-block-container">
    <h2>Top Tags</h2>
    <div class = "tag-group-container">
      <div class = "border-container">
        <p>tag1</p>
      </div>
      <div class = "border-container">
        <p>tag22</p>
      </div>
      <div class = "border-container">
        <p>tag333</p>
      </div>
      <div class = "border-container">
        <p>tag4444</p>
      </div>
      <div class = "border-container">
        <p>tag55555</p>
      </div>
      <div class = "border-container">
        <p>tag666666</p>
      </div>
    </div>
  </div>
  
  <hr>
  

  <!--highest rated-->
  <div class = "rating-block-container">
    <div class = "review-container">
      <h2>Highest Rating Course</h2>
      <h3><%= @highest_rated_course %></h3>
      <div class = "rating-star">
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
      </div>
      <h4>MM/DD/YYYY</h4>
      <p>example review paragraphs testttttt tttttttt tttttttttt ttttttttttttttt ttttttttttttt tttttttttttttt tttttttttttt tttttttttttttt ttttttttttttttttttttt tttttttttttttttttttttttt ttttt ttttttttttt tttttttt ttttttttttttttttttttttt</p>
      <div class = "user-agree-container">
        <h5># of #</h5>
        <h4>users agree with this review</h4>
      </div>
    </div>
  </div>
  
  <hr>
  
  <!--lowest rated-->
  <div class = "rating-block-container">
    <div class = "review-container">
      <h2>Lowest Rating Course</h2>
      <h3><%= @lowest_rated_course %></h3>
      <div class = "rating-star">
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
      </div>
      <h4>MM/DD/YYYY</h4>
      <p>example review paragraphs</p>
      <div class = "user-agree-container">
        <h5># of #</h5>
        <h4>users agree with this review</h4>
      </div>
    </div>
  </div>
  
  <hr>
  
  <!--all course-->
  <div class = "all-course-container">
    <h2>All Courses</h2>
    <table class = "course-table-container">
      <tr>
        <th>Name</th>
        <th>Rating</th>
      </tr>
      
  </tbody>
        <!-- <td>
          course 1
        </td>
        <td>
          <div class = "review-level-container">
            <h3><%= @avg_review %></h3>
            <div class = "rating-star">
              <%= image_tag 'rating-star.png', class: 'rating-image'%>
              <%= image_tag 'rating-star.png', class: 'rating-image'%>
              <%= image_tag 'rating-star.png', class: 'rating-image'%>
              <%= image_tag 'rating-star.png', class: 'rating-image'%>
              <%= image_tag 'rating-star.png', class: 'rating-image'%>
            </div>
          </div>
        </td> -->
    </table>
  </div>

  <% end %>


  <div class = "review-component">
    <div style = "margin: 10px 20px 10px 20px;">


      <h2>dept & course#</h2>
      <div class = "rating-star">
        <!-- Needed: js for the star -->
        <%= image_tag 'rating-star.png', class: 'rating-image'%>
        <%= image_tag 'rating-star.png', class: 'rating-image'%>
        <%= image_tag 'rating-star.png', class: 'rating-image'%>
        <%= image_tag 'rating-star.png', class: 'rating-image'%>
        <%= image_tag 'rating-star.png', class: 'rating-image'%>
      </div>

      <div class = "dis-in">
        <!-- expected grade -->
        <h3><b>Expected Grade:</b></h3>
        <h3><!-- Grade -->   </h3>
        <h3><b>Attendace:</b></h3>
        <h3><!-- Grade -->   </h3>
        <h3><b>Textbook:</b></h3>
        <h3><!-- Grade -->   </h3>
        <h3><b>Would Take Again:</b></h3>
        <h3><!-- Grade -->   </h3>
      </div>

        <div class = "tag-group-container">
          <div class = "border-container">
            <p>tag1</p>
          </div>
          <div class = "border-container">
            <p>tag22</p>
          </div>
          <div class = "border-container">
            <p>tag333</p>
          </div>
          <div class = "border-container">
            <p>tag4444</p>
          </div>
          <div class = "border-container">
            <p>tag55555</p>
          </div>
        </div>



      <p>example review paragraphs</p>

      <!-- need read more button -->

      <hr>

      <div class = "dis-in">

        <div style = "float: left; margin-right: 20px;">
          <button></button>
          <button></button>
        </div>
          

        <div class = "user-agree-container">
          <h5># of #</h5>
          <h4>users agree with this review</h4>
        </div>

        
        <div class = "report-container">
            <!-- image of flag -->
          <h4>Report</h4>
        
        </div>
      </div>

    </div>
  </div>

</div>
</div>

