<%= render 'partials/nav' %>

<p id="notice"><%= notice %></p>

<div class="flex-container help">
  <div class="professor-course-container">
    <div class="flex-row">
      <div class="flex-col-50" style="display: inline">
        <h1><%= @professor.display_name %></h1>
        <h4><%= @professor.tamu_dir_title %>
          <% unless @professor.tamu_dir_dept.nil? %>
            <%= @professor.tamu_dir_dept %>
          <% end %>
        </h4>
      </div>
      <div class="flex-col-50">
        <%= link_to 'Write a Review', new_review_path, :class => 'btn btn-primary w-50' %>
      </div>
    </div>
    <h2><%= @course.full_course_name %></h2>

    <% if @grouped_courses.empty? %>
      <p>This professor has not taught any other courses.
    <% else %>
      <h5>Other courses taught by <%= @professor.display_name %></h5>
        <div class="other-classes">
          <% @grouped_courses.each do |course, _reviews| %>
            <%= link_to course.dept + ' ' + course.course_num, professor_course_path(@professor, course) %>
          <% end %>
        </div>
    <% end %>

    <hr>

    <div>
      <% if @course_reviews.empty? %>
        <p> This professor hasn't taught this course.</p>
      <% else %>
        <h2>Reviews for <%= @course.dept + ' ' + @course.course_num %></h2>
        <% @course_reviews.each do |review| %>
          <div class="review">
            <p><%= review.created_at.to_date.to_formatted_s(:long) %></p>
            <p>Overall Rating: <%= review.overall_rating %></p>
            <p>Expected Grade: <%= review.letter_grade %></p>
            <p>Attendance:
              <% if review.attendance_mandatory %>
                Mandatory
              <% else %>
                Optional
              <% end %>
            </p>
            <p>Textbook Required:
              <% if review.used_textbook %>
                Yes
              <% else %>
                No
              <% end %>
            </p>
            <p>Upvotes: <%= link_to review_upvote_path(review), method: :put do %>
              <%= review.get_upvotes.size %> <% end %> |
              Downvotes: <%= link_to review_downvote_path(review), method: :put do %>
              <%= review.get_downvotes.size %> <% end %>
            </p>

          </div>
          <br/>
        <% end %>
      <% end %>
    </div>
</div>
</div>
