<div class="w-90">
  <%= render 'partials/nav' %>
</div>

<p id="notice"><%= notice %></p>

<div class="flex-container">
<div class="column-container">
  
  <div class = "row-container">
    
  <!--professer general-->
  <div class="professor-general-container">
    <h1><%= @professor.full_name %> </h1>
    <p><%= @professor.tamu_dir_dept %></p>
    <div class = "review-level-container">
        <h3><%= @avg_review %></h3>
        <div class = "rating-star">
          <!-- need implementation -->
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
        </div>
        <% if @grouped_courses.empty? %>
          <h4>(0 reviews)</h4>
        <% else %>
          <h4>(<%= @num_reviews %> reviews)</h4>
        <% end %>
    </div>
  </div>
  
  <div class = "write-review-container">
        <%= link_to 'Write a Review', new_review_path, :class => 'btn btn-primary w-100' %>
  </div>
  
  </div>
  <% if @grouped_courses.empty? %>
    <hr>
    <p>This professor does not have any reviews.</p>
  <% else %>

  <!--tags-->
  <div class = "tag-block-container">
    <h2>Top Tags</h2>
    <div class = "tag-group-container">
      <div class = "border-container">
        <p>tag1</p>
      </div>
      <div class = "border-container">
        <p>tag22</p>
      </div>
      <div class = "border-container">
        <p>tag333</p>
      </div>
      <div class = "border-container">
        <p>tag4444</p>
      </div>
      <div class = "border-container">
        <p>tag55555</p>
      </div>
      <div class = "border-container">
        <p>tag666666</p>
      </div>
    </div>
  </div>
  
  <hr>
  

  <!--highest rated-->
  <div class = "rating-block-container">
    <div class = "review-container">
      <h2>Highest Rating Course</h2>
      <h3><%= @highest_rated_course %></h3>
      <div class = "rating-star">
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
      </div>
      <h4>MM/DD/YYYY</h4>
      <p>example review paragraphs testttttt tttttttt tttttttttt ttttttttttttttt ttttttttttttt tttttttttttttt tttttttttttt tttttttttttttt ttttttttttttttttttttt tttttttttttttttttttttttt ttttt ttttttttttt tttttttt ttttttttttttttttttttttt</p>
      <div class = "user-agree-container">
        <h5># of #</h5>
        <h4>users agree with this review</h4>
      </div>
    </div>
  </div>
  
  <hr>
  
  <!--lowest rated-->
  <div class = "rating-block-container">
    <div class = "review-container">
      <h2>Lowest Rating Course</h2>
      <h3><%= @lowest_rated_course %></h3>
      <div class = "rating-star">
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
          <%= image_tag 'rating-star.png', class: 'rating-image'%>
      </div>
      <h4>MM/DD/YYYY</h4>
      <p>example review paragraphs</p>
      <div class = "user-agree-container">
        <h5># of #</h5>
        <h4>users agree with this review</h4>
      </div>
    </div>
  </div>

  <% end %>

  <hr>

  <!--all course-->
  <div class = "all-course-container">
    <h2>All Courses</h2>
    <% if @grouped_courses.empty? %>
      <p>This professor has not taught any other courses.
    <% else %>
    <table class = "course-table-container">
      <thead>
        <tr>
        <th>Name</th>
        <th>Rating</th>
        <th colspan="3"></th>
        </tr>
      </thead>

  <tbody>
    
    <% @grouped_courses.each do |course, _reviews| %>
      <tr>
        <td>
          <%= link_to course.dept + ' ' + course.course_num, professor_course_path(@professor, course) %>
        </td>
        <td>course rating</td>
      </tr>
    <% end %>
    
  </tbody>

    </table>
    <% end %>


</div>
</div>

