<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render 'partials/nav' %>

<p id="notice"><%= notice %></p>

<div class="flex-container help">
  <div class="professor-course-container">
    <div class="flex-row">
      <div class="flex-col-50" style="display: inline">
        <h1><%= @professor.display_name %></h1>   
        <h4><%= @professor.tamu_dir_title %>
          <% unless @professor.tamu_dir_dept.nil? %>
            <%= @professor.tamu_dir_dept %>
          <% end %>
        </h4>
      </div>
      <div class="flex-col-50">
        <%= link_to 'Write a Review', new_review_path, :class => 'btn btn-primary w-50' %>
      </div>
    </div>
    <h2><%= @course.full_course_name %></h2>

    <% if @grouped_courses.empty? %>
      <p>This professor has not taught any other courses.
    <% else %>
      <h5>Other courses taught by <%= @professor.display_name %></h5>
        <div class="other-classes">
          <% @grouped_courses.each do |course, _reviews| %>
            <%= link_to course.dept + ' ' + course.course_num, professor_course_path(@professor, course) %>
          <% end %>
        </div>
    <% end %>

    <hr>
      <% if @course_reviews.empty? %>
        <p> This professor hasn't taught this course.</p>
      <% else %>
        <% @course_reviews.each do |review| %>


        <div class = "review-component">
          <div style = "margin: 10px 20px 10px 20px;">


            <h2><%= @course.dept + ' ' + @course.course_num %></h2>

            <div class = "rating-star">
              <% (1..review.overall_rating.floor).each do |i| %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (1..(5-review.overall_rating.floor)).each do |i| %>
                <span class="fa fa-star"></span>
              <% end %>
            </div>

            <div class = "dis-in">
              <!-- expected grade -->
              <h3><b>Expected Grade:</b></h3>
              <h3 style = "padding-right: 20px;"><%= review.letter_grade %></h3>
              <h3><b>Attendace:</b></h3>
              <h3 style = "padding-right: 20px;">
                <% if review.attendance_mandatory %>
                  Mandatory
                <% else %>
                  Optional
                <% end %>
              </h3>
              <h3><b>Textbook:</b></h3>
              <h3 style = "padding-right: 20px;">
                <% if review.used_textbook %>
                  Yes
                <% else %>
                  No
                <% end %>
              </h3>
            </div>

            <!--
            <div class = "tag-group-container">
              <div class = "border-container">
                <p>Friendly</p>
              </div>
              <div class = "border-container">
                <p>Helpful</p>
              </div>
              <div class = "border-container">
                <p>Difficult exam</p>
              </div>
              
            </div>
          -->



              <% if review.course_other_thoughts.blank? %>
                <p style="color: #777777;">The reviewer did not leave any thoughts.</p>
              <% else %>
                <p><%= review.course_other_thoughts %></p>
              <% end %>

            <!-- need read more button -->

            <hr>

            <div class = "dis-in">

              <div style = "float: left; margin-right: 20px;">
                <button></button>
                <button></button>
              </div>
          

              <div class = "user-agree-container">
                <h5># of #</h5>
                <h4>users agree with this review</h4>
              </div>

        
              <div class = "report-container">
              <!-- image of flag -->
                <h4>Report</h4>
        
              </div>
            </div>

          </div>
          </div>
          <br/>
          <%= render partial: "partials/report_modal", locals: {review_id: review.id} %>
        <% end %>
      <% end %>

</div>
</div>