<%= render 'partials/nav' %>

<p id="notice"><%= notice %></p>
<div class="flex-container">
  <div class="courses-search">
  <%= render 'partials/searchcontainers' %>

    <table class="search-results">
      <thead>
      <tr>
        <th>Dept</th>
        <th>Course</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td width="10%"><%= course.dept %></td>
          <td width="12%"><%= course.course_num %></td>
          <td width="68%">
            <%= course.name %>
            <p class="course-description">
              <%= course.description %>
            </p>
          </td>
          <td width="10%" class="view-btn"><%= link_to 'Show', course %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>


<%= render "partials/footer" %>
