<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render 'partials/nav' %>

<p id="notice"><%= notice %></p>

<div class="flex-container">
  <div class="course-column-container">


    <!--course name-->
    <div class="course-name">
      <h1>
        <%= @course.dept + " " + @course.course_num + " " + "•" + " " + @course.name %>
      </h1> 
    </div>


    <!--course rating & description-->
    <div class="course-rating-des">
      <div class="flex-row">
        

        <!--rating-->
        <div class="flex-col-50" style="display: inline">

          <h2>
            Course Ratings
          </h2>

          <div class = "rating-star">
            
            <% (1..@avg_course.floor).each do |i| %>
              <span class="fa fa-star checked"></span>
            <% end %>
            
            <% (1..(5-@avg_course.floor)).each do |i| %>
              <span class="fa fa-star"></span>
            <% end %>

          </div>
          

        </div>
      

        <!--description
        <div class="flex-col-50">
          <h2>
            Course Description
          </h2>
          <p>
            Application of engineering approach to computer software design and development; life cycle models, software requirements and specification; conceptual model design; detailed design; validation and verification; design quality assurance; software design/development environments and project management. Prerequisites: CSCE 315 or approval of instructor.
          </p>
        </div>
        -->


      
      </div>
    </div>
    <!--professors-->
    <div class="course-prof">
      
      <h2>Professors</h2>
        
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th class="table-padding">   </td>
            <th colspan="2">Rating</th>
          </tr>
          <tr> 
            <td colspan="100%"> <hr /> </td>      
          </tr>
        </thead>
        <tbody>
          <% if @grouped_prof.blank? %>
            <tr>
              <td>
                <p>No reviews have been submitted for this course.</p>
              </td>
            </tr>
          <% else %>
          <% @grouped_prof.each do |professor, _reviews| %>
            <tr>
              <td>
                <h3>
                  <%= professor.full_name %>
                </h3>
              </td>

              <td class="table-padding">   </td>

              <td>  
                <div class = "review-level-container">
                  <div class = "rating-star">
                    <% (1..avg_rev(_reviews).floor).each do |i| %>
                      <span class="fa fa-star checked"></span>
                    <% end %>
            
                    <% (1..(5-avg_rev(_reviews).floor)).each do |i| %>
                      <span class="fa fa-star"></span>
                    <% end %>
                  </div>
                  <% if @grouped_prof.empty? %>
                    <h4>(0 reviews)</h4>
                  <% else %>
                    <h4>(<%= _reviews.length %> reviews)</h4>
                  <% end %>
                </div>
              </td>

              <td class="a-view">
                <%= link_to 'View Profile', professor_course_path(professor, @course), :class => 'btn-table btn-secondary w-120-px' %>
              </td>
              <td class="a-write">
                <%= link_to 'Write a Review', new_review_path, :class => 'btn-table btn-primary w-120-px' %>
              </td>


            </tr>
            
            <tr> 
              <td colspan="100%"> <hr /> </td>  
            </tr>
    
          <% end %>

        </tbody>
        <% end %>

      </table>


    </div>










  </div>
</div>
