<h1>New Review</h1>



<%= form_for([@professor, @review]) do |f| %>
	<h2>Professors</h2>

	<%= f.collection_select :professor_id, @professors, :id, :full_name, :prompt => "Select a Professor"%>

	<h2>Courses</h2>

	<%= f.collection_select :course_id, @courses, :id, :full_course_name, :prompt => "Select a Course"%>


	<%= f.submit %>

<%end%> 




<%= render 'form', review: @review %>
